In [3]:
import pandas as pd

In [4]:
melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',')

In [5]:
df = melb_data.copy()
df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [15]:
df = melb_data.copy()

In [25]:
df.drop(['index', 'Coordinates'], axis=1, inplace=True)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [27]:
customer_df = pd.DataFrame({'number': [0, 1, 2, 3, 4],
                            'cust_id': [128, 1201, 9832, 4392, 7472],
                            'cust_age': [13, 21, 19, 21, 60],
                            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
                            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
                            'cust_order': [1400, 14142, 900, 1240, 8430]
})

In [39]:
customer_df.columns

pandas.core.indexes.base.Index

In [50]:
def delete_columns(dfd, col=[]):
    try_dfd = dfd.columns
    if set(col).issubset(try_dfd):
        dfd.drop(col, axis=1, inplace=True)
        return(display(dfd ))
    else:
        return None
delete_columns(customer_df, ['cust_year_birth', 'number'])

In [54]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
pop_dens = countries_df['population'] *1000000 / countries_df['square']
countries_df['population density'] = pop_dens
countries_df['population density'].mean()

84.93080566562001

In [56]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(7), object(7)
memory usage: 2.2+ MB

In [59]:
year_sold = df['Date'].dt.year

In [63]:
df['Month sale'] = df['Date'].dt.month
df['Month sale'].value_counts(normalize=True)

Month sale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

In [76]:
df['WeekdaySale'] = df['Date'].dt.day_of_week
weekend_count = df[(df['WeekdaySale'] == 5)  | (df['WeekdaySale'] == 6)].shape[0]
print(weekend_count)

12822

In [113]:
df_ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')

In [114]:
df_ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [82]:
df_ufo['Time'] = pd.to_datetime(df_ufo['Time'])

In [84]:
year_ufo = df_ufo['Time'].dt.year
year_ufo.value_counts()

Time
1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: count, Length: 68, dtype: int64

In [88]:
display(df_ufo['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [16]:
df_ufo['Date'] = df_ufo['Time'].dt.date
print(df_ufo[df_ufo['State']=='NV']['Date'].diff().dt.days.mean())

NameError: name 'df_ufo' is not defined

In [135]:

df['Weekend'] = df['WeekdaySale'].apply(lambda x: 1 if x == 5 or x == 6 else 0)
display(df['Weekend'])

0        1
1        0
2        1
3        1
4        1
        ..
13575    1
13576    1
13577    1
13578    1
13579    1
Name: Weekend, Length: 13580, dtype: int64

In [17]:
df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [136]:
mask = df['Weekend'] == 1
df[df['Weekend'] == 1]['Price'].mean()

1081198.6406956792

In [162]:
seller_list = df['SellerG'].value_counts().nlargest(49).index.to_list()
print(seller_list)

['Nelson', 'Jellis', 'hockingstuart', 'Barry', 'Ray', 'Marshall', 'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas', 'Greg', 'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary', 'Harcourts', 'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine', 'Williams', 'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR', "O'Brien", 'C21', 'Collins', 'Cayzer', 'Eview', 'Purplebricks', 'Philip', 'Buckingham', 'Bells', 'Thomson', 'Nick', 'Alexkarbon', 'McDonald', 'Burnham', 'Moonee', 'LITTLE']

In [9]:
df['SellerG'].value_counts()

NameError: name 'df' is not defined

In [191]:
seller_list = df['SellerG'].value_counts().nlargest(49).index
def seller_other(seller):
    if seller in seller_list:
        seller = seller
    else:
        seller = 'other'
    return seller      
df['SellerG'] = df['SellerG'].apply(seller_other)

In [192]:
mask1 = df['SellerG'] == 'Nelson'
mask2 = df['SellerG'] == 'other'
df[mask1]['Price'].min() / df[mask2]['Price'].min()

1.297709923664122

In [193]:
df[mask2]['Price'].min()

131000.0

In [194]:
df['SellerG'].value_counts()

SellerG
Nelson           1565
Jellis           1316
other            1199
hockingstuart    1167
Barry            1011
Ray               701
Marshall          659
Buxton            632
Biggin            393
Brad              342
Woodards          301
Fletchers         301
Jas               243
Greg              239
McGrath           222
Sweeney           216
Noel              205
Miles             196
RT                184
Gary              170
Harcourts         168
Hodges            157
YPA               154
Stockdale         150
Village           125
Kay               119
Raine             116
Williams          111
Love              109
Douglas            97
Chisholm           77
RW                 70
Rendina            66
HAR                62
O'Brien            61
C21                57
Collins            56
Cayzer             52
Eview              51
Purplebricks       51
Philip             48
Buckingham         46
Bells              44
Thomson            42
Nick               40
Alexkarbon         40
McDonald           39
Burnham            39
Moonee             36
LITTLE             35
Name: count, dtype: int64

In [5]:
a = 'd ffdfa gka a'
print(a.split())
type(range(len(a)))

['d', 'ffdfa', 'gka', 'a']

range

In [2]:
exclude_list = ['месяц', 'месяцев', 'месяц']
def get_experience(arg):
    list1 = arg.split()
    if list1[-1] in exclude_list:
        arg = list1[-2]
    else:
        arg = list[-2] * 12
    return arg
experience_col.apply(get_experience)

NameError: name 'experience_col' is not defined

In [22]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(5), float64(6), int64(7), object(5)
memory usage: 1.9+ MB

None

In [21]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
for col in df.columns:
    if df[col].nunique() < 150 and col not in cols_to_exclude:
        df[col] = df[col].astype('category')

In [25]:
counts = df['Suburb'].value_counts().nlargest(119).index
df['Suburb'] = df['Suburb'].apply(lambda x: x if x in counts else x == 'others')
df['Suburb'].value_counts()

Suburb
False              2215
Reservoir           359
Richmond            260
Bentleigh East      249
Preston             239
                   ...
Greensborough        36
Caulfield North      35
Chadstone            35
Hughesdale           35
Mont Albert          34
Name: count, Length: 119, dtype: int64

In [26]:
df['Suburb'] = df['Suburb'].astype('category')

In [27]:
df['Suburb'].value_counts()

Suburb
False              2215
Reservoir           359
Richmond            260
Bentleigh East      249
Preston             239
                   ...
Greensborough        36
Caulfield North      35
Chadstone            35
Hughesdale           35
Mont Albert          34
Name: count, Length: 119, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  category
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  category
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  category
 17  CouncilArea    12211 non-null  category
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  category
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(6), float64(6), int64(7), object(4)
memory usage: 1.9+ MB

In [13]:
df.groupby(['Rooms'], as_index=False).mean().sort_values(by=['Price'], ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

In [17]:
df.groupby('Regionname')['Lattitude'].describe().sort_values(by='std')

,count,mean,std,min,25%,50%,75%,max
Regionname,,,,,,,,
Western Victoria,32.0,-37.695163,0.011579,-37.71691,-37.702827,-37.695075,-37.687370,-37.67344
Southern Metropolitan,4695.0,-37.866981,0.043080,-37.99035,-37.901200,-37.858800,-37.835670,-37.78142
Eastern Metropolitan,1471.0,-37.788820,0.047890,-37.90383,-37.823185,-37.777000,-37.751800,-37.68508
Northern Metropolitan,3890.0,-37.747258,0.049639,-37.93940,-37.785100,-37.753380,-37.713625,-37.56857
Western Metropolitan,2948.0,-37.782382,0.051251,-37.91859,-37.811885,-37.780400,-37.750275,-37.56005
South-Eastern Metropolitan,450.0,-37.993727,0.073411,-38.18255,-38.028280,-37.981155,-37.931123,-37.89210
Northern Victoria,41.0,-37.599620,0.084455,-37.68503,-37.672770,-37.638260,-37.507330,-37.40853
Eastern Victoria,53.0,-37.959292,0.147067,-38.16439,-38.070540,-38.026210,-37.788830,-37.75735

In [24]:
df['Date']

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [20]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [66]:
mask3 = pd.to_datetime('01-05-2017', dayfirst=True) <= df['Date'] <= pd.to_datetime('01.09.2017', dayfirst=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [65]:
df.groupby(['SellerG'])[mask3]

NameError: name 'mask3' is not defined

In [67]:
date1 = pd.to_datetime('2017-05-01')
date2 = pd.to_datetime('2017-09-01')
mask = (date1 <= df['Date']) & (df['Date']<= date2)
df[mask].groupby('SellerG')['Price'].sum().sort_values(ascending=True)

SellerG
Galldon             387000.0
Hayeswinckle        390000.0
Mindacom            400000.0
L                   431250.0
Redina              445000.0
                    ...
hockingstuart    318537510.0
Marshall         331175888.0
Barry            353243850.0
Nelson           450735500.0
Jellis           535351557.0
Name: Price, Length: 184, dtype: float64

In [69]:
import numpy as np

In [84]:
ff = np.random.rand()
print(ff)

0.5798449212780351

In [91]:
df.pivot_table(
    values='BuildingArea',
    index='Type',
    columns='Rooms',
    aggfunc='median'
)

Rooms     1      2      3      4      5      6      7      8      10
Type
h      126.0  126.0  126.0  141.0  177.0  126.0  216.5  126.0  126.0
t       88.0  114.0  126.0  159.5  152.0    NaN    NaN    NaN    NaN
u       69.5  110.0  126.0  126.0    NaN  171.0    NaN  126.0    NaN

In [116]:
df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median'
)

Type                           h          t         u
SellerG
@Realty                 612000.0        NaN       NaN
ASL                    1145000.0        NaN       NaN
Abercromby's           1768000.0  1735000.0  690000.0
Ace                     720000.0        NaN       NaN
Alexkarbon             1036250.0   935000.0  560000.0
...                          ...        ...       ...
hockingstuart/Village        NaN        NaN  345000.0
iOne                         NaN   620000.0       NaN
iProperty                    NaN   820000.0       NaN
iSell                   741250.0   688000.0  512500.0
iTRAK                   715250.0        NaN  495000.0

[268 rows x 3 columns]

In [114]:
max_price = pivot['u'].max()
pivot['u'][pivot['u'] == max_price]

SellerG
Scott    1860000.0
Name: u, dtype: float64

TypeError: unhashable type: 'list'